openapi: 3.2.0
info:
  title: lexoffice (lexware Office) Public Down Payment Invoices API
  description: Public REST API for lexoffice, the German cloud accounting and invoicing SaaS from Lexware (Haufe Group), rebranded to "lexware Office" in 2025.
  version: '1.0'
  contact:
    name: lexware Office Developers
    url: https://developers.lexware.io/docs/
  license:
    name: Proprietary
    url: https://www.lexware.de/
servers:
- url: https://api.lexware.io/v1
  description: Lexware API gateway (current)
- url: https://api.lexoffice.io/v1
  description: Legacy lexoffice API gateway (retired end of 2025)
security:
- bearerAuth: []
tags:
- name: Down Payment Invoices
  description: Down payment invoice documents.
paths:
  /down-payment-invoices/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getDownPaymentInvoice
      tags:
      - Down Payment Invoices
      summary: Retrieve a down payment invoice
      responses:
        '200':
          description: The requested down payment invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    SalesDocument:
      type: object
      description: Shared shape for quotation, order confirmation, delivery note, credit note, and dunning documents.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        organizationId:
          type: string
          format: uuid
        version:
          type: integer
        language:
          type: string
          example: de
        archived:
          type: boolean
          readOnly: true
        voucherStatus:
          type: string
          readOnly: true
        voucherNumber:
          type: string
          readOnly: true
        voucherDate:
          type: string
          format: date-time
        address:
          type: object
          properties:
            contactId:
              type: string
              format: uuid
            name:
              type: string
            street:
              type: string
            zip:
              type: string
            city:
              type: string
            countryCode:
              type: string
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        totalPrice:
          $ref: '#/components/schemas/TotalPrice'
        taxConditions:
          $ref: '#/components/schemas/TaxConditions'
        title:
          type: string
        introduction:
          type: string
        remark:
          type: string
    Error:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: integer
        error:
          type: string
        path:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              violation:
                type: string
              field:
                type: string
              message:
                type: string
    LineItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - custom
          - material
          - service
          - text
        name:
          type: string
        description:
          type: string
        quantity:
          type: number
        unitName:
          type: string
        unitPrice:
          type: object
          properties:
            currency:
              type: string
              example: EUR
            netAmount:
              type: number
            grossAmount:
              type: number
            taxRatePercentage:
              type: number
        discountPercentage:
          type: number
        lineItemAmount:
          type: number
    Invoice:
      allOf:
      - $ref: '#/components/schemas/SalesDocument'
      - type: object
        properties:
          dueDate:
            type: string
            format: date-time
          shippingConditions:
            type: object
            properties:
              shippingDate:
                type: string
                format: date-time
              shippingType:
                type: string
          paymentConditions:
            type: object
            properties:
              paymentTermLabel:
                type: string
              paymentTermDuration:
                type: integer
    TotalPrice:
      type: object
      properties:
        currency:
          type: string
          example: EUR
        totalNetAmount:
          type: number
        totalGrossAmount:
          type: number
        totalTaxAmount:
          type: number
    TaxConditions:
      type: object
      properties:
        taxType:
          type: string
          enum:
          - net
          - gross
          - vatfree
          - intraCommunitySupply
          - constructionService13b
          - externalService13b
          - thirdPartyCountryService
          - thirdPartyCountryDelivery
        taxTypeNote:
          type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid Bearer API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The UUID of the resource.
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer API key generated by the account owner at https://app.lexware.de/addons/public-api and passed as `Authorization: Bearer YOUR_API_KEY`.'
