openapi: 3.0.3
info:
  title: lexoffice (lexware Office) Public API
  description: >-
    Public REST API for lexoffice, the German cloud accounting and invoicing SaaS
    from Lexware (Haufe Group), rebranded to "lexware Office" in 2025. The API lets
    developers push and pull business data - contacts, invoices, quotations, order
    confirmations, delivery notes, credit notes, dunnings, bookkeeping vouchers,
    files, payments, and profile metadata - and subscribe to webhooks through event
    subscriptions. All requests are authenticated with a Bearer API key generated by
    the account owner at https://app.lexware.de/addons/public-api. The API is rate
    limited to 2 requests per second per client (HTTP 429 on exceed). The API gateway
    moved from api.lexoffice.io to api.lexware.io on 26 May 2025; the legacy host
    remained available through December 2025. This document is a representative,
    hand-authored subset grounded in the public documentation at
    https://developers.lexware.io/docs/ - it is not the vendor's own machine-readable
    specification.
  version: '1.0'
  contact:
    name: lexware Office Developers
    url: https://developers.lexware.io/docs/
  license:
    name: Proprietary
    url: https://www.lexware.de/
servers:
  - url: https://api.lexware.io/v1
    description: Lexware API gateway (current)
  - url: https://api.lexoffice.io/v1
    description: Legacy lexoffice API gateway (retired end of 2025)
security:
  - bearerAuth: []
tags:
  - name: Contacts
    description: Customers and vendors.
  - name: Invoices
    description: Outgoing invoices.
  - name: Quotations
    description: Sales quotations / offers.
  - name: Order Confirmations
    description: Order confirmation documents.
  - name: Delivery Notes
    description: Delivery note documents.
  - name: Credit Notes
    description: Credit note documents.
  - name: Dunnings
    description: Payment reminder documents.
  - name: Down Payment Invoices
    description: Down payment invoice documents.
  - name: Vouchers
    description: Bookkeeping vouchers and the voucherlist search.
  - name: Files
    description: File upload and download for voucher receipts.
  - name: Event Subscriptions
    description: Webhook subscriptions for change events.
  - name: Payments
    description: Payment status for a voucher and payment conditions.
  - name: Profile
    description: Account profile and reference metadata.
  - name: Recurring Templates
    description: Templates that generate recurring invoices.
paths:
  /contacts:
    get:
      operationId: listContacts
      tags:
        - Contacts
      summary: Filter and list contacts
      description: >-
        Returns a paged list of contacts. Supports filter query parameters such as
        email, name, number, customer, and vendor.
      parameters:
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: name
          in: query
          required: false
          schema:
            type: string
        - name: number
          in: query
          required: false
          schema:
            type: integer
        - name: customer
          in: query
          required: false
          schema:
            type: boolean
        - name: vendor
          in: query
          required: false
          schema:
            type: boolean
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: A page of contacts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      operationId: createContact
      tags:
        - Contacts
      summary: Create a contact
      description: Creates a new contact (customer and/or vendor).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: Reference to the created contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReference'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /contacts/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getContact
      tags:
        - Contacts
      summary: Retrieve a contact
      description: Retrieves a single contact by its UUID.
      responses:
        '200':
          description: The requested contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateContact
      tags:
        - Contacts
      summary: Update a contact
      description: >-
        Updates an existing contact. The current version number must be supplied
        for optimistic locking.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: Reference to the updated contact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReference'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices:
    post:
      operationId: createInvoice
      tags:
        - Invoices
      summary: Create an invoice
      description: >-
        Creates an invoice. By default the invoice is created as a draft; pass
        finalize=true to create it directly in the open status.
      parameters:
        - name: finalize
          in: query
          required: false
          description: Create the invoice in the open status instead of as a draft.
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '201':
          description: Reference to the created invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReference'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /invoices/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getInvoice
      tags:
        - Invoices
      summary: Retrieve an invoice
      description: Retrieves a single invoice by its UUID.
      responses:
        '200':
          description: The requested invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{id}/document:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getInvoiceDocument
      tags:
        - Invoices
      summary: Request the invoice PDF
      description: >-
        Triggers or retrieves the rendered PDF for a finalized invoice and returns
        a documentFileId used to download the file via the Files endpoint.
      responses:
        '200':
          description: A reference to the rendered document file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentFileReference'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '406':
          description: The document is not yet available (still a draft).
  /quotations:
    post:
      operationId: createQuotation
      tags:
        - Quotations
      summary: Create a quotation
      description: Creates a quotation (offer). Pass finalize=true to finalize it.
      parameters:
        - name: finalize
          in: query
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesDocument'
      responses:
        '201':
          description: Reference to the created quotation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReference'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /quotations/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getQuotation
      tags:
        - Quotations
      summary: Retrieve a quotation
      responses:
        '200':
          description: The requested quotation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesDocument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /order-confirmations:
    post:
      operationId: createOrderConfirmation
      tags:
        - Order Confirmations
      summary: Create an order confirmation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesDocument'
      responses:
        '201':
          description: Reference to the created order confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReference'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /order-confirmations/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getOrderConfirmation
      tags:
        - Order Confirmations
      summary: Retrieve an order confirmation
      responses:
        '200':
          description: The requested order confirmation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesDocument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /delivery-notes:
    post:
      operationId: createDeliveryNote
      tags:
        - Delivery Notes
      summary: Create a delivery note
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesDocument'
      responses:
        '201':
          description: Reference to the created delivery note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReference'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /delivery-notes/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getDeliveryNote
      tags:
        - Delivery Notes
      summary: Retrieve a delivery note
      responses:
        '200':
          description: The requested delivery note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesDocument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /credit-notes:
    post:
      operationId: createCreditNote
      tags:
        - Credit Notes
      summary: Create a credit note
      parameters:
        - name: finalize
          in: query
          required: false
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesDocument'
      responses:
        '201':
          description: Reference to the created credit note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReference'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /credit-notes/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getCreditNote
      tags:
        - Credit Notes
      summary: Retrieve a credit note
      responses:
        '200':
          description: The requested credit note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesDocument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /dunnings/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getDunning
      tags:
        - Dunnings
      summary: Retrieve a dunning
      description: Retrieves a single dunning (payment reminder) by its UUID.
      responses:
        '200':
          description: The requested dunning.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesDocument'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /down-payment-invoices/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getDownPaymentInvoice
      tags:
        - Down Payment Invoices
      summary: Retrieve a down payment invoice
      responses:
        '200':
          description: The requested down payment invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /vouchers:
    post:
      operationId: createVoucher
      tags:
        - Vouchers
      summary: Create a bookkeeping voucher
      description: >-
        Creates a bookkeeping voucher (sales/purchase invoice or credit note) for
        preliminary accounting, with voucher items and an optional receipt file.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Voucher'
      responses:
        '200':
          description: Reference to the created voucher.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReference'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /vouchers/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getVoucher
      tags:
        - Vouchers
      summary: Retrieve a voucher
      responses:
        '200':
          description: The requested voucher.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voucher'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateVoucher
      tags:
        - Vouchers
      summary: Update a voucher
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Voucher'
      responses:
        '200':
          description: Reference to the updated voucher.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReference'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteVoucher
      tags:
        - Vouchers
      summary: Delete a voucher
      responses:
        '204':
          description: The voucher was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /voucherlist:
    get:
      operationId: listVouchers
      tags:
        - Vouchers
      summary: Search the voucher list
      description: >-
        Returns a paged, filterable list of all voucher-type documents (invoices,
        credit notes, vouchers, etc.). The voucherType and voucherStatus filters
        are required.
      parameters:
        - name: voucherType
          in: query
          required: true
          description: Comma-separated voucher types (e.g. invoice, salesinvoice, purchaseinvoice, creditnote, any).
          schema:
            type: string
        - name: voucherStatus
          in: query
          required: true
          description: Comma-separated statuses (e.g. draft, open, paid, paidoff, voided, transferred, sepadebit, overdue, any).
          schema:
            type: string
        - name: archived
          in: query
          required: false
          schema:
            type: boolean
        - name: contactId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: A page of voucherlist entries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherListPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /files:
    post:
      operationId: uploadFile
      tags:
        - Files
      summary: Upload a file
      description: >-
        Uploads a receipt file (PDF, JPG, or PNG) to be attached to a voucher.
        Sent as multipart/form-data with a file part and a type of "voucher".
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  example: voucher
      responses:
        '200':
          description: Reference to the uploaded file.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceReference'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '406':
          description: Unsupported media type or file too large.
  /files/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: downloadFile
      tags:
        - Files
      summary: Download a file
      description: Downloads a previously uploaded or rendered file by its UUID.
      responses:
        '200':
          description: The binary file.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /event-subscriptions:
    get:
      operationId: listEventSubscriptions
      tags:
        - Event Subscriptions
      summary: List event subscriptions
      responses:
        '200':
          description: A list of event subscriptions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createEventSubscription
      tags:
        - Event Subscriptions
      summary: Create an event subscription
      description: >-
        Registers an HTTPS callback URL for an event type. lexoffice POSTs a
        webhook payload to the callback URL when a matching event fires.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventSubscriptionInput'
      responses:
        '200':
          description: The created event subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /event-subscriptions/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getEventSubscription
      tags:
        - Event Subscriptions
      summary: Retrieve an event subscription
      responses:
        '200':
          description: The requested event subscription.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteEventSubscription
      tags:
        - Event Subscriptions
      summary: Delete an event subscription
      responses:
        '204':
          description: The subscription was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payments/{voucherId}:
    parameters:
      - name: voucherId
        in: path
        required: true
        description: The UUID of the voucher whose payment status is requested.
        schema:
          type: string
          format: uuid
    get:
      operationId: getPayments
      tags:
        - Payments
      summary: Retrieve payment status for a voucher
      description: >-
        Returns the open amount, payment status, and recorded payment items for a
        given voucher (invoice, credit note, etc.).
      responses:
        '200':
          description: Payment status for the voucher.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payment-conditions:
    get:
      operationId: listPaymentConditions
      tags:
        - Payments
      summary: List payment conditions
      description: Returns the payment conditions (terms and cash discounts) configured in the account.
      responses:
        '200':
          description: A list of payment conditions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentCondition'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /profile:
    get:
      operationId: getProfile
      tags:
        - Profile
      summary: Retrieve the account profile
      description: Returns the connected organization's profile and connection metadata.
      responses:
        '200':
          description: The account profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /countries:
    get:
      operationId: listCountries
      tags:
        - Profile
      summary: List countries
      description: Returns the list of countries supported by lexoffice with tax classification.
      responses:
        '200':
          description: A list of countries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /posting-categories:
    get:
      operationId: listPostingCategories
      tags:
        - Profile
      summary: List posting categories
      description: Returns the posting categories used to classify voucher items for bookkeeping.
      responses:
        '200':
          description: A list of posting categories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PostingCategory'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /recurring-templates:
    get:
      operationId: listRecurringTemplates
      tags:
        - Recurring Templates
      summary: List recurring templates
      description: Returns a paged list of recurring templates that generate recurring invoices.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      responses:
        '200':
          description: A page of recurring templates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /recurring-templates/{id}:
    parameters:
      - $ref: '#/components/parameters/Id'
    get:
      operationId: getRecurringTemplate
      tags:
        - Recurring Templates
      summary: Retrieve a recurring template
      responses:
        '200':
          description: The requested recurring template.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Bearer API key generated by the account owner at
        https://app.lexware.de/addons/public-api and passed as
        `Authorization: Bearer YOUR_API_KEY`.
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The UUID of the resource.
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      required: false
      description: Zero-based page index.
      schema:
        type: integer
        default: 0
    Size:
      name: size
      in: query
      required: false
      description: Page size (max 250 for most collections).
      schema:
        type: integer
        default: 25
  responses:
    BadRequest:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid Bearer API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit of 2 requests per second exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: integer
        error:
          type: string
        path:
          type: string
        message:
          type: string
        details:
          type: array
          items:
            type: object
            properties:
              violation:
                type: string
              field:
                type: string
              message:
                type: string
    ResourceReference:
      type: object
      properties:
        id:
          type: string
          format: uuid
        resourceUri:
          type: string
          format: uri
        createdDate:
          type: string
          format: date-time
        updatedDate:
          type: string
          format: date-time
        version:
          type: integer
    DocumentFileReference:
      type: object
      properties:
        documentFileId:
          type: string
          format: uuid
    Contact:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        organizationId:
          type: string
          format: uuid
        version:
          type: integer
        roles:
          type: object
          properties:
            customer:
              type: object
              properties:
                number:
                  type: integer
            vendor:
              type: object
              properties:
                number:
                  type: integer
        company:
          type: object
          properties:
            name:
              type: string
            taxNumber:
              type: string
            vatRegistrationId:
              type: string
            allowTaxFreeInvoices:
              type: boolean
            contactPersons:
              type: array
              items:
                type: object
                properties:
                  salutation:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  emailAddress:
                    type: string
                  phoneNumber:
                    type: string
        person:
          type: object
          properties:
            salutation:
              type: string
            firstName:
              type: string
            lastName:
              type: string
        addresses:
          type: object
          properties:
            billing:
              type: array
              items:
                $ref: '#/components/schemas/Address'
            shipping:
              type: array
              items:
                $ref: '#/components/schemas/Address'
        emailAddresses:
          type: object
          additionalProperties: true
        phoneNumbers:
          type: object
          additionalProperties: true
        note:
          type: string
        archived:
          type: boolean
          readOnly: true
    Address:
      type: object
      properties:
        supplement:
          type: string
        street:
          type: string
        zip:
          type: string
        city:
          type: string
        countryCode:
          type: string
          example: DE
    ContactPage:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/Contact'
        totalPages:
          type: integer
        totalElements:
          type: integer
        size:
          type: integer
        number:
          type: integer
    LineItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
            - custom
            - material
            - service
            - text
        name:
          type: string
        description:
          type: string
        quantity:
          type: number
        unitName:
          type: string
        unitPrice:
          type: object
          properties:
            currency:
              type: string
              example: EUR
            netAmount:
              type: number
            grossAmount:
              type: number
            taxRatePercentage:
              type: number
        discountPercentage:
          type: number
        lineItemAmount:
          type: number
    TaxConditions:
      type: object
      properties:
        taxType:
          type: string
          enum:
            - net
            - gross
            - vatfree
            - intraCommunitySupply
            - constructionService13b
            - externalService13b
            - thirdPartyCountryService
            - thirdPartyCountryDelivery
        taxTypeNote:
          type: string
    TotalPrice:
      type: object
      properties:
        currency:
          type: string
          example: EUR
        totalNetAmount:
          type: number
        totalGrossAmount:
          type: number
        totalTaxAmount:
          type: number
    SalesDocument:
      type: object
      description: Shared shape for quotation, order confirmation, delivery note, credit note, and dunning documents.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        organizationId:
          type: string
          format: uuid
        version:
          type: integer
        language:
          type: string
          example: de
        archived:
          type: boolean
          readOnly: true
        voucherStatus:
          type: string
          readOnly: true
        voucherNumber:
          type: string
          readOnly: true
        voucherDate:
          type: string
          format: date-time
        address:
          type: object
          properties:
            contactId:
              type: string
              format: uuid
            name:
              type: string
            street:
              type: string
            zip:
              type: string
            city:
              type: string
            countryCode:
              type: string
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/LineItem'
        totalPrice:
          $ref: '#/components/schemas/TotalPrice'
        taxConditions:
          $ref: '#/components/schemas/TaxConditions'
        title:
          type: string
        introduction:
          type: string
        remark:
          type: string
    Invoice:
      allOf:
        - $ref: '#/components/schemas/SalesDocument'
        - type: object
          properties:
            dueDate:
              type: string
              format: date-time
            shippingConditions:
              type: object
              properties:
                shippingDate:
                  type: string
                  format: date-time
                shippingType:
                  type: string
            paymentConditions:
              type: object
              properties:
                paymentTermLabel:
                  type: string
                paymentTermDuration:
                  type: integer
    Voucher:
      type: object
      description: A bookkeeping voucher for preliminary accounting.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        organizationId:
          type: string
          format: uuid
          readOnly: true
        type:
          type: string
          enum:
            - salesinvoice
            - salescreditnote
            - purchaseinvoice
            - purchasecreditnote
        voucherStatus:
          type: string
          enum:
            - open
            - paid
            - paidoff
            - voided
            - transferred
            - sepadebit
        voucherNumber:
          type: string
        voucherDate:
          type: string
          format: date-time
        shippingDate:
          type: string
          format: date-time
        dueDate:
          type: string
          format: date-time
        totalGrossAmount:
          type: number
        totalTaxAmount:
          type: number
        taxType:
          type: string
          enum:
            - net
            - gross
        useCollectiveContact:
          type: boolean
        contactId:
          type: string
          format: uuid
        remark:
          type: string
        voucherItems:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
              taxAmount:
                type: number
              taxRatePercent:
                type: number
              categoryId:
                type: string
                format: uuid
        files:
          type: array
          items:
            type: string
            format: uuid
        version:
          type: integer
    VoucherListPage:
      type: object
      properties:
        content:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              voucherType:
                type: string
              voucherStatus:
                type: string
              voucherNumber:
                type: string
              voucherDate:
                type: string
                format: date-time
              dueDate:
                type: string
                format: date-time
              contactName:
                type: string
              totalAmount:
                type: number
              openAmount:
                type: number
              currency:
                type: string
                example: EUR
              archived:
                type: boolean
        totalPages:
          type: integer
        totalElements:
          type: integer
        size:
          type: integer
        number:
          type: integer
    EventSubscriptionInput:
      type: object
      required:
        - eventType
        - callbackUrl
      properties:
        eventType:
          type: string
          description: The event to subscribe to, e.g. contact.created, contact.changed, invoice.created, invoice.status.changed, voucher.created.
          example: invoice.created
        callbackUrl:
          type: string
          format: uri
          description: HTTPS URL that lexoffice POSTs the webhook payload to.
    EventSubscription:
      allOf:
        - $ref: '#/components/schemas/EventSubscriptionInput'
        - type: object
          properties:
            subscriptionId:
              type: string
              format: uuid
            organizationId:
              type: string
              format: uuid
            createdDate:
              type: string
              format: date-time
    Payments:
      type: object
      properties:
        openAmount:
          type: number
        currency:
          type: string
          example: EUR
        paymentStatus:
          type: string
          enum:
            - open
            - unpaid
            - paidoff
            - voided
        voucherType:
          type: string
        voucherStatus:
          type: string
        paidDate:
          type: string
          format: date-time
        paymentItems:
          type: array
          items:
            type: object
            properties:
              amount:
                type: number
              currency:
                type: string
              paymentItemType:
                type: string
              postingDate:
                type: string
                format: date-time
    PaymentCondition:
      type: object
      properties:
        id:
          type: string
          format: uuid
        paymentTermLabel:
          type: string
        paymentTermDuration:
          type: integer
        paymentDiscountConditions:
          type: object
          properties:
            discountPercentage:
              type: number
            discountRange:
              type: integer
        organizationDefault:
          type: boolean
    Profile:
      type: object
      properties:
        organizationId:
          type: string
          format: uuid
        companyName:
          type: string
        created:
          type: object
          properties:
            userId:
              type: string
              format: uuid
            userName:
              type: string
            userEmail:
              type: string
            date:
              type: string
              format: date-time
        connectionId:
          type: string
          format: uuid
        taxType:
          type: string
        smallBusiness:
          type: boolean
    Country:
      type: object
      properties:
        countryCode:
          type: string
          example: DE
        countryNameEN:
          type: string
        countryNameDE:
          type: string
        taxClassification:
          type: string
          enum:
            - de
            - intraCommunity
            - thirdPartyCountry
    PostingCategory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum:
            - income
            - outgo
        contactRequired:
          type: boolean
        splitAllowed:
          type: boolean
        groupName:
          type: string
